<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mashiro.chat">

    <application>
        <activity
            android:name=".ui.ChatActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
